<footer class="footer">
  <div class="footer-links">
    <a href="#">О компании</a>
    <a href="#">Вопрос-Ответ</a>
    <a href="#">Новости</a>
    <a href="#">Контакты</a>
    <a href="#">Пополнение баланса</a>
  </div>
  <div class="footer-contacts">
    <span><p>Бесплатно по Казахстану</p></span>
    <p class='footer-phone'>8 800 080 50 11</p>
    <p class='footer-phone'>8 727 225 50 11</p>
  </div>
  <div class="top-border"></div>
  <div class="footer-copy">
    <p>&copy; 2019 Convex</p>
    <p>Политика конфиденциальности</p>
    <p>Публичная оферта</p>
    <p>Условия возврата</p>
    <div class="img-links">
    <img src="static/main/img/Group 3.png" alt="">
    <img src="static/main/img/Group 4.png" alt="">
    <img src="static/main/img/Twitter.png" alt="">
    </div>
    <div class="eighteen">
        <img src="static/main/img/Group.png" alt="">
    </div>
    
  </div>
</footer>
